<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div th:fragment="nav">
        <nav>
            <ul>
                <li>
                    <a href="/">첫 화면</a></li>
                <li>
                    <a href="/member">멤버</a>
                </li>
                <li>
                    <a href="#">게시판목록</a>
                </li>
            </ul>
        </nav>
    </div>


</body>
</html>