<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="content-wrapper" layout:fragment="content_body">

    <form method="post">
        이름 : <input type="text" name="username"> <br>
        비밀번호 : <input type="text" name="password"> <br>
        <input type="submit">
    </form>

    <hr>


    <div th:each="m : ${list}">
        이름 : <span th:text="${m.username}"></span> <br>
        비밀번호 : <span th:text="${m.password}"></span>
    </div>

</div>

</body>
</html>